<footer id="main_footer">
	<p class="copyright">&copy;2018 Mehmet Yılmaz <i class="fa fa-maxcdn" style="font-size:24px"></i></p>
	<nav >
		<a href="https://facebook.com/mmt3d"><i class="fa fa-facebook-square" aria-hidden="true" style="font-size:25px"></i></a>
		<a href="https://youtube.com/mmt3d"><i class="fa fa-youtube-square" style="font-size:25px;color:red"></i></i></a>
		<a href="https://github.com/ylmazmehmet60"><i class="fa fa-github-square" aria-hidden="true" style="font-size:25px"></i></a>
	</nav>
</footer>	
