<div class="container"><br>
   <div class="well">
     <div class="wrapper clearfix">
	<div class="col-1 homepage_content">
		<h2>Hakkımda</h2>
		<hr>
		<p>My name is Mehmet Yılmaz.I am twenty-one years old.
		I have been studying Software Engineering at Firat Universitesi in Elazığ. I’m interested programming-my job in future-,engineering math-I really love- and designing-my work entered rare world gallery in this area- so 
		My purposes I am going to publish posts on this blog.
		There are going to be able to fine about both repeating and learning something new besides I am going to improve my english level.</p>
	</div>	
	<div class="col-2 homepage_content">
		<h2>Neler Yapıyorum?</h2>
        <hr>
        <h3>yaptıklarımın listesi</h3>
        <p class="date">Programming</p>
        <p class="date">Designing</p>
        <p class="date">Calculus</p>
	</div>
	<div class="col-3 homepage_content">
        <h2>Programlama dilleri ve araçlar</h2>
        <hr>
        <p>Java</p>
        <p>PHP</p>
        <p>MySQL</p>
        <p>Ruby on Rails</p>
        <p>CakePHP</p>
        <p>3dsMax</p>
        <p>JavaScript</p>
        <p>CSS</p>
        <p>Bootstrap</p>
        <p>C#</p>
        <p>Android Studio</p>
        <p>MVC</p>
        <p>Hackintosh</p>

	</div>

</div>
    </div>      
</div> 

<%= render 'shared/footer'%>